<div layout="row" layout-align="start center">
    <label ng-if="!$ctrl.label" flex="{{$ctrl.labelFlex}}"></label>
    <label ng-if="$ctrl.label" ng-class="{'required': $ctrl.isRequired}" ng-bind-template="{{$ctrl.label}}：" flex="{{$ctrl.labelFlex}}"></label>

    <input ng-if="$ctrl.isReadonly" type="text" class="ss-input-text ss-input-text-sm" ng-model="$ctrl.readonlyDisplayValue" tag="{{$ctrl.readonlyDisplayValue}}"
        ng-readonly="$ctrl.isReadonly" flex="{{$ctrl.inputFlex}}" />

    <md-input-container ng-if="!$ctrl.isReadonly" flex="{{$ctrl.inputFlex}}" class="md-block">
        <md-select ng-model="$ctrl.selectedItem" aria-label="{{$ctrl.label}}" ng-change="$ctrl.onDropChange()" placeholder="{{$ctrl.placeholder}}">
            <md-option ng-repeat="item in $ctrl.itemSource" ng-value="item" ng-bind="item.$displayName"></md-option>
        </md-select>
    </md-input-container>
</div>