<div class="row">
    <span class="ss-text-secondary">普通文本框:</span>
    <span class="ss-text-secondary">带文字文本框:</span>
    <span class="ss-text-secondary">被禁用的普通文本框:</span>
    <span class="ss-text-secondary">被禁用的带文字文本框:</span>
</div>
<div class="row">
    <input type="text" value="" class="ss-input-text ss-input-text-sm" />
    <input type="text" value="ABC" class="ss-input-text ss-input-text-sm" />
    <input type="text" value="" class="ss-input-text ss-input-text-sm" disabled />
    <input type="text" value="ABC" class="ss-input-text ss-input-text-sm" disabled />
</div>
<div class="row">
    <input type="text" value="" class="ss-input-text ss-input-text-lg" />
    <input type="text" value="ABC" class="ss-input-text ss-input-text-lg" />
    <input type="text" value="" class="ss-input-text ss-input-text-lg" disabled />
    <input type="text" value="ABC" class="ss-input-text ss-input-text-lg" disabled />
</div>