<panel-search-pricemng md-theme="{{$ctrl.theme}}" item-source="vm.searchPanelData" ng-model="vm.ngModel.searchPanelModel"
    btn-click="$ctrl.onBtnClick($event, dataDefine)" tab-changed="$ctrl.onTabChanged(tabCode)" ng-change="$ctrl.onSearchCriteriaChanged()"></panel-search-pricemng>

<grid-manage-ssc-ticket-hall ng-if="true" search-criteria="vm.ngModel.searchPanelModel" edit-list-item="$ctrl.onEditListItem($event, item)"
                             publish-list-item="$ctrl.onPublishListItem($event, item)" del-list-item="$ctrl.onDelListItem($event, item)"></grid-manage-ssc-ticket-hall>

<panel-title-container md-theme="{{$ctrl.theme}}" titles="$ctrl.footTitles" ng-model="$ctrl.selectChartPage" ng-change="$ctrl.onSelectChartPage()"
    ng-switch="$ctrl.selectChartPage">

    <div class="chartVm_current" ng-switch-when="current">
        <matrix-table-manage item-source="$ctrl.chartVm.currentItemSource"></matrix-table-manage>
        <!--<table>
            <thead>
                <tr class="even">
                    <th layout-padding></th>
                    <th layout-padding ng-repeat="item in $ctrl.chartVm.currentItemSource | orderBy: '+$displayOrder'" ng-bind="item.$displayName"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd">
                    <td class="td_priceMax" layout-padding>最高价</td>
                    <td layout-padding ng-repeat="item in $ctrl.chartVm.currentItemSource | orderBy: '+$displayOrder'" ng-bind="item.priceMax"></td>
                </tr>
                <tr class="even">
                    <td class="td_priceMin" layout-padding>最低价</td>
                    <td layout-padding ng-repeat="item in $ctrl.chartVm.currentItemSource | orderBy: '+$displayOrder'" ng-bind="item.priceMin"></td>
                </tr>
                <tr class="odd">
                    <td class="td_priceAvg" layout-padding>平均价</td>
                    <td layout-padding ng-repeat="item in $ctrl.chartVm.currentItemSource | orderBy: '+$displayOrder'" ng-bind="item.priceAvg"></td>
                </tr>
            </tbody>
        </table>-->
    </div>

    <div ng-switch-when="tendency">
        <input-button-selector ng-if="$ctrl.chartVm.billTypeMedium.billType !== 'CMB'" md-theme="{{$ctrl.theme}}" ng-model="$ctrl.chartVm.quotePriceType"
            ng-change="$ctrl.onSearchCriteriaChanged()" label="承兑行类别" vm-type="Object" has-select-all-button="false"
            item-source="$ctrl.chartVm.qptItemSource.other" display-path="name" label-flex=10></input-button-selector>
        <input-button-selector ng-if="$ctrl.chartVm.billTypeMedium.billType === 'CMB'" md-theme="{{$ctrl.theme}}" ng-model="$ctrl.chartVm.quotePriceType"
            ng-change="$ctrl.onSearchCriteriaChanged()" label="保函" vm-type="Object" has-select-all-button="false"
            item-source="$ctrl.chartVm.qptItemSource.CMB" display-path="name" label-flex=10></input-button-selector>
        <chart-manage chart-data="$ctrl.chartVm.chartData"></chart-manage>
    </div>
</panel-title-container>

<grid-manage-ssc-ticket-hall ng-if="false" search-criteria="vm.ngModel.searchPanelModel" edit-list-item="$ctrl.onEditListItem($event, item)"
    publish-list-item="$ctrl.onPublishListItem($event, item)" del-list-item="$ctrl.onDelListItem($event, item)"></grid-manage-ssc-ticket-hall>